extends layout

block content
  h1= title
  p Welcome to #{title}
  p Host: #{host}
  p Platform: #{platform}
<<<<<<< HEAD

=======
  p New change
  p Another Change
  p Hello Daniel!!!
>>>>>>> 6e8c4da22721c98c33006dcab7f7e04d27e92251
